{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src="{% static 'script.js' %}"></script>
    <title>❤️ Love Your Books</title>
</head>
<body>
    <div class="section container">
        <div class="search-container">
            <h1 class="main-title">Search your <span class="main-color">loved books</span>&nbsp;&nbsp;📚</h1>
            <div class="search-box">
                <i class="fas fa-search"></i>
                <input type="text" id="bookQuery" name="query" class="form-control">
            </div>
        </div>
        <div class="info-container">
            <h1 class="main-title info-header"><i class="fas fa-quote-right"></i>Writer's Quote</h1> 
            <h1 class="info-title">
                Happiness can be found, even in the darkest of times, if one only remembers to turn on the light.<br><br>
                - JK Rowling (Harry Potter Writer)
            </h1>
        </div>
    </div>
    <div class="section container">
        <div class="book-result-container" id="bookResult">
            
        </div>
        <div class="liked-book-container" id="likedBookSection">
            <h1 class="main-title">See most loved books ❤️ </h1>
            <button type="button" id="modalButton" class="book-like-button" data-toggle="modal" data-target="#topBookModal" onclick="loadTopBook()">
                Top 5 loved books
            </button>
            <br><br><br>
            <h1 class="main-title">Books you love</h1>
            <div class="book-liked-container">
                
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="topBookModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><span class="main-title">Most Loved Books</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" id="topBookContainer">

            </div>
        </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>