html, body, h1, h2, h3, h4, h5, h6, p , span, i, div, input, button {
    font-family: 'Poppins', sans-serif;
}
body{
    margin:25px;
}
.main-color{
    color:#fea94e!important;
    font-weight: 800;
}
.container{
    margin-left:3vw;
    margin-right:3vw;
}
.section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:94%;
    max-width: none;
}
.search-container{
    margin-top:20px;
    width: 50%;
}

.info-container{
    width: 40%;
    border-radius: 20px;
    border:2px solid lightgray;
    align-items: center;
    padding:25px;
    margin:10px;
}

.info-title{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.8px;
}

.info-header{
    color:#fea94e;
    font-weight: 800!important;
}

.info-header svg{
    margin-right: 15px;
}
.main-image{
    margin-left:auto;
    margin-right:auto;
    display: block;
    width: 70%;
}

.info-image{
    width: 50%;
    height: auto
}

.main-title{
    display:block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: 600;
}

.form-control{
    margin:0px;
    border:0px;
    width: 100%;
}

.form-control:focus{
    border: 0px;
    box-shadow: none;
}

.search-box{
    border-radius:25px;
    border:2px solid lightgray;
    padding:7px 20px 7px 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0px 10px rgba(85, 85, 85, 0.274);
    transition: all 0.2s;
    align-items: center;
}

.search-box:focus-within {
    border-color: #fea94e;
    box-shadow: 0 0px 10px rgba(255, 208, 52, 0.274);
}

.search-box svg{
    color:lightgray;
    cursor: pointer;
    margin-right: 15px;
}

.book-item{
    box-shadow: 0 0px 20px rgba(85, 85, 85, 0.274);
    border-radius: 20px;
    margin-top:15px;
    margin-bottom:15px;;
    padding:20px;
    display:flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    color:black;
}

.book-thumbnail{
    height: 150px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgba(85, 85, 85, 0.474);
}

.book-detail{
    margin-left: 30px;
    margin-right: 30px;
}

.book-title{
    font-size: 20px;
    font-weight: 700;
}
.book-publisher{
    color:rgb(167, 167, 167)
}

.book-like-button{
    margin-top:40px;
    border-radius:10px;
    border-width: 0px;
    padding:10px 15px 10px 15px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 0px 15px rgba(85, 85, 85, 0.274);
    transition: box-shadow 0.15s;
    background-color:#fea94e;
    color:white
}

.book-like-button:hover{
    box-shadow: 0 0px 10px rgba(85, 85, 85, 0.561);
}

.book-like-button svg{
    color:white;
    margin-right: 10px;
}

.book-result-container{
    display:flex;
    flex-direction: column;
    width: 50%;
}

.liked-book-container{
    padding:25px;
    border-radius: 15px;
    background-color: #ff8605;
    color:white;
    width: 40%;
    box-shadow: 0 0px 20px rgba(85, 85, 85, 0.274);
    margin:15px;
}

.modal-dialog{
    max-width: 600px;
}

.lds-ring {
    display: none;
    position: relative;
    width: 20px;
    height: 17px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  